* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: repeat;

 }
 
 header {
    height: 15vh;
    
 }
 header a.nav-link {
  color: white; 
  text-decoration: none !important; 
}
 header nav button.btn-primary {
  color: white !important;
}

 button.navbar-toggler span.navbar-toggler-icon {
  color: white !important;
}


 header span {
  color: white;
  text-decoration: none !important; 
}
.nav-link {
  text-decoration: none !important;
}
.nav-link:hover {
  background-color: none !important;
}
.navbar-nav .nav-item .nav-link.active {
  color: #000000 !important;
}
.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #000000;
  font-size: 0.9rem;
}
a.nav-link.active {
  color: #000000;
 }
 .logoprincipal {
  width: 25%; 
  height: auto; 
}
  main {
    height: 75vh;
  }
  .video-iframe {
    border: none !important;
    outline: none !important;
 }
 
  .acerca-de-mi {
    height: 160vh;
    
  }
  .terapias {
    height: 550vh;
  }
  .main-contacto {
    height: 70vh;
  }
 .testimonios{
   height: 100vh;
}
 .cursos {
  height: 100vh;
}
 .tienda {
  height: 100vh;
}
  aside img {
    bottom: 500px;
  }
  
  footer {
    height: 10vh;
  }