$color-hover: violet;
$color-light: White;
$color-dark: black;
$color-text-titulos: Blueviolet;
$texto-logo: 'Marck Script', cursive !important;
$texto-h1: 'Roboto', sans-serif !important;
$texto-h2: 'Athiti', sans-serif !important;
$vista: mobile;
$textDesktop: 3rem;
$textMobile: 1rem;
$array: 10px, 20px, 30px;