* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  
}  
a {
  margin: 0;
  text-decoration: none;
  font-size: 17px;
}
a:hover {
  @extend a;
  color: $color-hover !important;

}
p {
  font-size: 17px;
  line-height: 1.5;   
}


i {
  font-size: 25px;
}

.botones-redes-flotantes {
  bottom: 0px !important;
  left: 1820px !important;
}
@media (max-width: 1400px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left: 1350px !important;
  }
}
@media (max-width: 1200px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left: 1150px !important;
  }
}
@media (max-width: 992px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left: 965px !important;
  }
  .redes-icono {
    font-size: 30px;
    
  }
}
@media (max-width: 768px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left: 734px !important;
  }
  .redes-icono {
    font-size: 35px;
    
  }
}
@media (max-width: 767px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left: 715px !important;
  }
  .redes-icono {
    font-size: 35px;
    
  }
}
@media (max-width: 576px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left: 550px !important;
  }
  .redes-icono {
    font-size: 30px;
    
  }
}
@media (max-width: 412px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left:  386px !important;
    
    .redes-icono {
      font-size: 30px;
      
    }
  }
}
@media (max-width: 400px) {
  .botones-redes-flotantes {
    bottom: 0px !important;
    left:  374px !important;

    .redes-icono {
      font-size: 30px;
      
    }
  }
}


@media (max-width: 400px) {
  .flecha-arriba {
    bottom: 0px;
    left:  50px ;
  }
}
@media (max-width: 767){
  .navbar-toggler-icon {
    bottom: 0px !important;
    right: 500px !important;
}
}

